@mixin mediaMinWidth($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin mediaMaxWidth($max-width) {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}

@mixin mediaMMWidth($max-width, $min-width) {
  @media only screen and (max-width: $max-width) and (min-width: $min-width) {
    @content;
  }
}

@mixin responsive-font($min-size, $max-size) {
  $half-diff: calc(#{$max-size}rem - #{$min-size}rem) / 3;
  $xxl-diff: calc(#{$max-size}rem - $half-diff);
  $lg-diff: calc($xxl-diff - $half-diff);

  font-size: #{$max-size}rem;

  @include mediaMaxWidth(2500px) {
    font-size: calc(#{$max-size}rem - $half-diff);
  }

  @include mediaMaxWidth($xxl) {
    font-size: calc($xxl-diff - $half-diff);
  }

  @include mediaMaxWidth($lg) {
    font-size: calc($lg-diff - $half-diff);
  }

  @include mediaMaxWidth($sm) {
    font-size: #{$min-size}rem;
  }
}

@mixin responsive-mg-b($mg-b-min, $mg-b-max) {
  $half-diff: calc(#{$mg-b-max}rem - #{$mg-b-min}rem) / 3;
  $xxl-diff: calc(#{$mg-b-max}rem - $half-diff);
  $lg-diff: calc($xxl-diff - $half-diff);

  margin-bottom: #{$mg-b-max}rem;

  @include mediaMaxWidth(2500px) {
    margin-bottom: calc(#{$mg-b-max}rem - $half-diff);
  }

  @include mediaMaxWidth($xxl) {
    margin-bottom: calc($xxl-diff - $half-diff);
  }

  @include mediaMaxWidth($lg) {
    margin-bottom: calc($lg-diff - $half-diff);
  }

  @include mediaMaxWidth($sm) {
    margin-bottom: #{$mg-b-min}rem;
  }
}

@mixin responsive-mg-t($mg-t-min, $mg-t-max) {
  $half-diff: calc(#{$mg-t-max}rem - #{$mg-t-min}rem) / 3;
  $xxl-diff: calc(#{$mg-t-max}rem - $half-diff);
  $lg-diff: calc($xxl-diff - $half-diff);

  margin-top: #{$mg-b-max}rem;

  @include mediaMaxWidth(2500px) {
    margin-top: calc(#{$mg-t-max}rem - $half-diff);
  }

  @include mediaMaxWidth($xxl) {
    margin-top: calc($xxl-diff - $half-diff);
  }

  @include mediaMaxWidth($lg) {
    margin-top: calc($lg-diff - $half-diff);
  }

  @include mediaMaxWidth($sm) {
    margin-top: #{$mg-t-min}rem;
  }
}

@mixin transition {
  transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
}