$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$fz-default: 2.9rem;

$primary-color: #B8A47E;
$black-color: #141416;
$grey-color: #383838;
$light-grey-color: #a7a7a7;
$bg-gray: #d5d5d5;

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;