$primary-color: #2979ff;
$black-color: #141416;
$gray7: #f4f5f9;

:root {
  --primary-color: #2979ff;
  --black-color: #141416;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --fz-default: 16px;
}