section.collection
    h2 Tanner Collections
    span NAVY SALT & PEPPER

    .collection-first 
        span 01
        .first-top
            .first-top--left
                img(src="../images/collection-1.1.png", alt="nomad-duffle")
            .first-top--right
                h3 Nomad duffle
                p This bag can be carried by hand, worn as a backpack or slung over a shoulder depending on your traveling needs
                a(href="#") Read more 
        .firtst-bottom
            .first-bottom--left
                h3 SPRUCE SALT & PEPPER
                p We designed our Nomad Duffle as a versatile yet rugged piece of luggage that's just as comfortable outdoors as it is in an overhead compartment
                a(href="#") Read more 
            .first-bottom--right
                img(src="../images/collection-1.2.png", alt="spruce-salt-pepper")
    
    .collection-second
        span 02
        .inner
            .second--left
                img(src="../images/collection-2.png", alt="field-camera-bag") 
            .second--right
                h3 FIELD CAMERA BAG
                p Our field camera bag is constructed from 14oz Salt & Pepper canvas and Cambara Meridian English bridle leather. We've put these bags through the ringer in testing and we think you'll approve of the result. Our Camera Bag is fully lined and padded, and features an adjustable shoulder strap and pad, as well as two interior flap pockets for smaller gear and film.
                a(href="#") Read more 

    .collection-third
        span 03
        .inner
            .third--left
                h3 VOYAGER DAYPACK
            .third--right
                img(src="../images/collection-3.png", alt="voyager-daypack") 
        //- .slider-thumbs


