section.drifter#drifter
    .row.flex-row-reverse
        .col-9.col-md-8.media
            img(src="../images/drifter.png", alt="drifter-img")
        .col-11.col-md-8.content
            .content-left
                p.fz-29 Field-tested from the peaks of the Cascades down to the desert floor of Joshua Tree, the Wilderness Rucksack was built to put on some serious miles for years to come. A comfortable, dependable combination of 14oz Salt & Pepper canvas, premium wool felt, and Cambara English bridle leather.
            .content-right
                h2.title.fz-97 DRIFTER DOPP KIT
                span.subtitle.fz-43 NAVY SALT & PEPPER
            //- a(href="#collection")
            //-     img(src="../images/arrow-down.png", alt="arrow-down")