section.drifter
    img(src="../images/drifter.png", alt="drifter-img")
    .content
        .content-left
            h2 DRIFTER DOPP KIT
            span NAVY SALT & PEPPER
        .content-right
            p Field-tested from the peaks of the Cascades down to the desert floor of Joshua Tree, the Wilderness Rucksack was built to put on some serious miles for years to come. A comfortable, dependable combination of 14oz Salt & Pepper canvas, premium wool felt, and Cambara English bridle leather.
        a(href="#collection")
            img(src="../images/arrow-down.png", alt="arrow-down")