section.navy-salt#navySalt
    .row.justify-content-end
        .col-9.col-md-8.media
            img(src="../images/navy-salt.png", alt="navy-salt-img")
        .col-11.col-md-10.content
            span.subtitle.fz-43 Designed for utility
            h2.title.fz-97 Navy salt & pepper
            a(href="#").read-more.fz-43 Gear UP