section.voyager#voyager
    .row.justify-content-start
        .col-9.col-md-8.media
            img(src="../images/voyager.png", alt="voyager-img")
        .col-11.col-md-8.content
            .content-left
                h2.title.fz-97 VOYAGER DAYPACK
                span.subtitle.fz-43 NAVY SALT & PEPPER
            .content-right
                p.fz-29 Whether you’re stomping around outdoors or traversing the city, our Voyager Daypack was designed to be adaptable in all environments. Compact, lightweight and a comfortable for people of all sizes. this silhouette is versatile enough to fit just about anyone’s daily routine.
            //- a(href="#drifter")
                //- img(src="../images/arrow-down.png", alt="arrow-down") 