section.voyager
    img(src="../images/voyager.png", alt="voyager-img")
    .content
        .content-left
            h2 VOYAGER DAYPACK
            span NAVY SALT & PEPPER
        .content-right
            p Whether you’re stomping around outdoors or traversing the city, our Voyager Daypack was designed to be adaptable in all environments. Compact, lightweight and a comfortable for people of all sizes. this silhouette is versatile enough to fit just about anyone’s daily routine.
        a(href="#drifter")
            img(src="../images/arrow-down.png", alt="arrow-down")