html {
    font-size: 62.5%;
}

body {
    font-family: $primary-font;
    @include responsive-font (1.4, 2.9);
    color: $black-color;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.fz-97 {
    @include responsive-font(1.8, 9.7);
}

.fz-43 {
    @include responsive-font (1.5, 4.3);
}
.fz-29 {
    @include responsive-font (1.3, 2.9);
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.6rem;

    @include mediaMaxWidth($xxl) {
        letter-spacing: 1.6rem;
    }

    @include mediaMaxWidth($lg) {
        letter-spacing: 1rem;
    }

    @include mediaMaxWidth($sm) {
        letter-spacing: .5rem;
    }
}

.subtitle {
    display: block;
    color: $grey-color;
}