footer.footer
    .footer-top
        a(href="/")
            img(src="../../images/logo.png", alt="logo-footer") 
        nav.menu-footer
            ul
                li
                    a(href="#")  Finda
                li
                    a(href="#")  Store
                li
                    a(href="#")  Sizing
                li
                    a(href="#")  Care
                li
                    a(href="#")  Watch 
        .infor
            ul
                li
                    a(href="#")  Sebazzo Ltd, Unit 3F2
                li
                    a(href="#")  Zetland House
                li
                    a(href="#")  5-25 Scrutton Street
                li
                    a(href="#")  London EC2A 4HJ
        .newsletters
            h3 Email Newsletters
            p Sign up for new TANNER GOODS content, updates, surveys & offers.
            form.subscribe(action="" autocomplete)
                input(type="email").subscribe-email
                button.subscribe-button(type="submit")
                    img(srcSet="../../images/arrow-right.png", alt="icon-arrow-right")
    .footer-bottom
        .copyright © tanner goods portland ore 2016
        ul.socials
            li 
                a(href="#") facebook 
            li 
                a(href="#") pinterest 
            li 
                a(href="#") twitter 
            li 
                a(href="#") instagram 

