header.header
    .header-top
        .row
            .col-6.col-lg-2.logo
                a(href="/")
                    img(src="../../images/logo.png", alt="logo")
            .col-6.col-lg-10.menu-header
                nav
                    ul
                        li(data-menuanchor="navySalt")
                            a(href="#navySalt" title="navySalt") Navy Salt
                        li(data-menuanchor="voyager")
                            a(href="#voyager" title="voyager") Voyager
                        li(data-menuanchor="drifter")
                            a(href="#drifter" title="drifter") Drifter
                        li(data-menuanchor="collection")
                            a(href="#collection" title="collection") Collection
                        li(data-menuanchor="contact")
                            a(href="#contact" title="contact") Contact
    